<div class="navbar bg-base-300">
    <div class="container mx-auto">
    <div class="navbar-start">
      <a class="btn btn-ghost text-xl" href="{% url 'main:index' %}">🎈🐍DEVBLOGX86</a>
    </div>
    <div class="navbar-center flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="{% url 'main:lol' %}">lol</a></li>
        <li><a href="{% url 'blog:index' %}">Blog</a></li>
        <li><a href="{% url 'catalog:index' %}"><i class="fas fa-book"></i> Catalog</a></li>
      </ul>
    </div>
    <div class="navbar-end flex">
      

      {% if user.is_authenticated %}
      <!-- notification icon-->
     
        
      
      <div class="dropdown dropdown-end">
        <div class="indicator">
          <span class="indicator-item badge badge-secondary"></span> 
        <div tabindex="1" role="button" class="btn btn-ghost btn-circle">
          <i class="fas fa-bell"></i>
        </div>
      </div>
        <ul tabindex="1" class="mt-6 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-300 rounded-box w-80">
          <span class="p-2 text-sm text-primary">Notifications</span>
          <hr class="my-2 border-base-100">
          {% if user.notifications.all.count == 0 %}
              <span class="p-2 text-gray-500">No notifications</span>
          {% endif %}

            {% for notification in user.notifications.all|slice:"0:10" %}
              <li class="{% if not notification.is_read %}bg-primary{% endif %} rounded-box mb-2">
                <a class="justify-between p-2" href="{% url 'members:notification' notification.id %}">
                 
                  <span>
                    <i class="fas fa-{{ notification.get_icon }}"></i>
                    
                    {{ notification.message }} </span>
                  {% if not notification.is_read %}
                    <span class="badge">New</span>
                  {% endif %}
                </a>
              </li>
            {% endfor %}
        </ul>
      </div>
      <!-- cart-->
      <a href="{% url 'order:cart' %}" class="btn btn-ghost btn-circle">
        <i class="fas fa-shopping-cart"></i>
      </a>


      
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img alt="avatar" src="{{ user.profile.get_avatar }}" />
          </div>
        </div>
        <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-200 rounded-box w-52">
          <span class="p-2 text-sm text-primary">Hello, <b>{{ user.username }}</b></span>
          <hr class="my-2 border-base-100">
          <li>
            <a class="justify-between" href="{% url 'members:profile' user.profile.id %}">
              <span> <i class="fas fa-user"></i> Profile </span>
              <span class="badge">New</span>
            </a>
          </li>
          <li><a href="{% url 'members:logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
        </ul>
      </div>
      {% else %}
        <a href="{% url 'members:login' %}" class="btn btn-ghost">Login</a>
        <a href="{% url 'members:signup' %}" class="btn btn-ghost">Signup</a>
      {% endif %}
    </div>
    </div>
  </div>