{% extends 'base.html' %}

{% load daisyui_filters %}

{% block title %} Change Password {% endblock %}

{% block content %}
    <div class="flex justify-center items-center my-10 ">
        <div class="bg-base-200 p-10 rounded-box">
            <div class="bg-base-200 p-10 rounded-box">
             
                <form method="post">
                 
                  {% csrf_token %}
                  {{ form|crispy }} 
                  <div class="flex justify-center">
                    <button class="btn btn-primary mt-4">Change Password</button>
                  </div>
                </form>
              
            </div>
        </div>
    </div>

{% endblock %}


  